.header {
    background-color: #2E5F54;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    font-family: 'Poppins', sans-serif;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.brand {
    font-weight: bold;
    font-size: 18px;
}

.nav {
    display: flex;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
}

.logoutButton {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: underline;
}

.logoutButton:hover {
    color: #ffcccb;
}