.error {
    color: #d9534f;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #cee6ec;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Container with background image and centering */
.container {
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Form styling */
.form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
}

/* Label styling */
.label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: #28544B;
    font-family: 'Poppins', sans-serif;
}

/* Input fields */
.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
}

/* Submit button */
.button {
    padding: 10px 20px;
    background-color: #FFA06F;
    width: 100%;
    color: #28544B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.button:hover {
    background-color: #ff7d3b;
}

.linkText {
    margin-top: 16px;
    font-size: 14px;
    color: #28544B;
    font-family: 'Poppins', sans-serif;
}
.linkText a {
    color: #FFA06F;
    font-weight: bold;
    text-decoration: none;
}
.linkText a:hover {
    text-decoration: underline;
}
