.error {
    color: #d9534f;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
}

.heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #28544B;
}

.label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #28544B;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
}

.button {
    background-color: #FFA06F;
    color: #28544B;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ff7d3b;
}
