* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.container {
    min-height: calc(100vh - 74px - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    text-align: center;
    background: #FFA06F;
    padding: 20px 0;
    box-sizing: border-box;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #28544B;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1.2;
}

.grid, .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
}

.card {
    background-color:  #ACBD86;
    padding: 30px 20px;
    border-radius: 30px;
    height: 150px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
}


.level {
    font-size: 22px;
    color: white;
    margin-bottom: 16px;
}

.features {
    list-style-type: disc;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: left;
}

.startButton {
    background-color: #FFA06F;
    color: #28544B;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: auto;
}

.startButton:hover {
    background-color: #ff7d3b;
}
